<app-navbar></app-navbar>

<h4>Project theme:</h4>
<p style="text-align: justify;">My sources of information are aimed at analyzing the relationship between the number of births over the years in the regions
  of Spain.</p>
<div class="list-group">
  <table rules="all" cellpadding="5" class="bordered">
    <tr class="#42a5f5 card-panel blue lighten-1 z-depth-0">
      <td class="center-align white-text centered">Group member</td>
      <td class="center-align white-text centered">Alberto Jesús Rodríguez Pulido</td>
    </tr>
    <tr class="#ffffff white z-index 0">
      <td>Data</td>
      <td>
        <a routerLink="/data">Spain Births Data</a>
      </td>
    </tr>
    <tr class="#ffffff white z-index 0">
      <td>GitHub</td>
      <td>
        <a href="https://github.com/albrodpul">Albrodpul</a>
      </td>
    </tr>
    <tr class="#ffffff white z-index 0">
      <td>API Rest</td>
      <td>
        <a href="/api/v1/spain-births">Spain Births API</a>
      </td>
    </tr>
    <tr class="#ffffff white z-index 0">
      <td>Collection Test</td>
      <td>
        <div class="postman-run-button" data-postman-action="collection/import" data-postman-var-1="3e37298cc2993f40e035"></div>
        <script type="text/javascript">
          (function (p, o, s, t, m, a, n) {
            !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
            !o.getElementById(s + t) && o.getElementsByTagName("head")[0].appendChild((
              (n = o.createElement("script")),
              (n.id = s + t), (n.async = 1), (n.src = m), n
            ));
          }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
        </script>
      </td>
    </tr>
    <tr class="#ffffff white z-index 0">
      <td>Badges</td>
      <td>
        <a href="https://www.codeschool.com/users/Albrodpul/">Albrodpul</a>
      </td>

    </tr>
    <tr class="#ffffff white z-index 0">
      <td>jQuery Client REST</td>
      <td class="row">
        <a onclick="location.href='/RESTClient/jquery'">Client REST</a>
      </td>
    </tr>
    <tr class="#ffffff white z-index 0">
      <td>Angular2 Client REST</td>
      <td>
        <a routerLink="/RESTClient">Spain Births REST Client</a>
      </td>
    </tr>
  </table>
  <br />
  <div class="row">
    <a class="col s11" routerLink='/'>« Previous</a>
    <a class="col s1" routerLink="/data">Next »</a>
  </div>