.btn-margin {
    margin-right: 20px;
    width: 80px;
    height: 65px;
  }
  
  .brand-logo{
    margin-left: 20px;
  }
  
  .dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    margin-top: 65px;
    display: none;
    min-width: 130px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -30px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
  }
  
  .profile-area img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .profile-area h6{
    font-size:36px;
  }
  
  .panel-body h5 {
    margin-top: 0;
  }
  
  .nickname{
    font-size:36px;
    text-transform: capitalize;
  }
  
  .gender:first-letter {
      text-transform: capitalize;
  }
  
  .avatar{
    width: 100%;
    margin-top:7px;
  }