body{
  width: 85%;
  margin-left: 7% !important;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #778899;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #778899;
   opacity:  1;
   text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #778899;
   opacity:  1;
   text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #778899;
   text-align: center;
}

.btn-margin{
    margin-right: 20px;
    margin-top:15px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
