<link href="../../css/index.css" rel="stylesheet">
<script type="text/javascript" src="../../js/collapsible.js"></script>

<div ng-if="vm.auth.isAuthenticated()">
  <br />
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">child_care</i>Spain Births | Alberto Jesús Rodríguez Pulido</div>
        <div class="collapsible-body #ffffff white">
          <p>Data about spanish births, by regions and years. Making difference between men and women, showing the total number of births.</p>
          <div class="row">
            <p><a class="col s12 s12" onclick="location.href='../../RESTClient/angular'">Spain Births GUI</a></p>
          </div>
        </div>
      </li>
    </ul>
    <br />
    <a onclick="location.href='../../about'">About me</a>
</div>
<h4 ng-if="!vm.auth.isAuthenticated()">
  You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h4>