<link href="../../css/index.css" rel="stylesheet">
<script type="text/javascript" src="../../js/collapsible.js"></script>
<script type="text/javascript" src="../../js/dropdown.js"></script>

<!--Navbar-->
<nav>
  <div class="nav-wrapper #90caf9 blue lighten-3">
    <a ui-sref="home" class="brand-logo"><i class="material-icons left">cloud</i>TFG1718 ARP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="btn-margin" ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()">
          Sign in
      </a>
      </li>
      <li>
        <a class="btn-margin dropdown-button" data-activates='dropdown' data-beloworigin="true" ng-if="vm.auth.isAuthenticated()">
          <img ng-src="{{ vm.profile.picture }}" class="circle avatar" alt="avatar">
      </a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Dropdown Structure -->
  <ul id='dropdown' class='dropdown-content'>
      <li>
        <a ng-if="vm.auth.isAuthenticated()" ui-sref="profile">
          <i class="material-icons left">perm_identity</i>Profile
      </a>
      </li>
      <li>
        <a ng-if="vm.auth.isAuthenticated()" ng-click="vm.auth.logout()">
          <i class="material-icons left">exit_to_app</i>Log out
      </a>
      </li>
  </ul>
<!-- Collapsible -->
<div ng-if="vm.auth.isAuthenticated()">
  <br />
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">child_care</i>Spain Births | Alberto Jesús Rodríguez Pulido</div>
        <div class="collapsible-body #ffffff white">
          <p>Data about spanish births, by regions and years. Making difference between men and women, showing the total number of births.</p>
          <div class="row">
            <p><a class="col s12 s12" onclick="location.href='../../RESTClient/angular'">Spain Births GUI</a></p>
          </div>
        </div>
      </li>
    </ul>
    <br />
    <a onclick="location.href='../../about'">About me</a>
</div>
<h5 ng-if="!vm.auth.isAuthenticated()">
  You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h5>