<!-- Navbar -->
<nav>
  <div class="nav-wrapper #90caf9 blue lighten-3">
    <div>
      <a href="/" class="breadcrumb">Homepage</a>
      <a href="/about/" class="breadcrumb">About Me</a>
      <a href="/data" class="breadcrumb">Data</a>
      <a href="/data/charts" class="breadcrumb">Spain Birth Chart</a>
      <a href="/RESTClient/angular" class="breadcrumb">Spain Birth REST Client</a>
    </div>
  </div>
</nav>
<h4>AngularJS REST Client</h4>

<!-- Main buttons -->
<div class="row centered">
  <div class="col s1"><button class="#4caf50 green btn-floating btn-large waves-effect waves-light" ng-click="getAll()"><i class="material-icons">view_list</i></button></div>
  <birth-delete-all></birth-delete-all>
  <birth-load></birth-load>
</div>
<!-- Error message -->
<div class="row">
  <div class="col s12 center-align">
    <div ng-hide="!myValue" class="card-panel #f44336 red z-depth-0" ng-model="error">{{error}}</div>
  </div>
</div>
<!-- Search -->
<birth-search></birth-search>
<!-- Datatable -->
<table id="myTable" class="striped">
  <thead>
    <tr class="#42a5f5 blue lighten-1 z-depth-0">
      <th class="center-align white-text centered">Region</th>
      <th class="center-align white-text centered">Year</th>
      <th class="center-align white-text centered">Men</th>
      <th class="center-align white-text centered">Women</th>
      <th class="center-align white-text centered">Totalbirth</th>
      <th class="center-align white-text centered" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" class="form-control" ng-model="newBirth.region" placeholder="Andalucia" /></td>
      <td><input type="number" class="form-control" ng-model="newBirth.year" placeholder="2009" /></td>
      <td><input type="number" class="form-control" ng-model="newBirth.men" placeholder="43243" /></td>
      <td><input type="number" class="form-control" ng-model="newBirth.women" placeholder="43432" /></td>
      <td><input type="number" class="form-control" ng-model="newBirth.totalbirth" disabled value="{{newBirth.men -- newBirth.women}}" /></td>
      <td colspan="2" class="center-align">
        <birth-post></birth-post>
      </td>
    </tr>
    <tr ng-repeat="birth in births">
      <td>{{birth.region}}</td>
      <td>{{birth.year}}</td>
      <td>{{birth.men}}</td>
      <td>{{birth.women}}</td>
      <td>{{birth.totalbirth}}</td>
      <td>
        <birth-delete></birth-delete>
      </td>
      <td><a class="btn-floating btn-large waves-effect waves-light purple" href="#!/{{birth.region}}/{{birth.year}}"><i class="material-icons">mode_edit</i></a></td>
    </tr>
  </tbody>
</table>
<br /><br />
<a href="/data/charts">« Previous</a>
